.registration-main__form
  = form_for(current_user) do |f|
    = devise_error_messages!
    .sign-up-form
      = f.label :ニックネーム
      = f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder: " 例）メルカリ太郎"
      = f.text_area :profile,class:"sell-content__desc_textarea textarea-default",rows:"5" ,placeholder:"例) こんにちわ☆ご覧いただいきありがとうがざいます！可愛いものやきれいめオフィスカジュアル中心に出品しています。服のサイズは主に９号です。気持ちよくお取引きできるように心がけていますので、商品や発送方法などご質問がありましたらご気軽にどうぞ♪"
    = f.submit "変更する" ,class: "sell-content__btn-red"
