.default-container
  = render 'products/top-header.html.haml'
  = render 'user-details'
  = render 'social-media-box'
  = render 'items-box-container'
  = render 'products/app-vanner.html.haml'
  = render 'products/top-footer.html.haml'
